In [44]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, GridSearchCV, cross_validate, train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [45]:
data = pd.read_csv('refined_data_v6.csv')
p_data = pd.read_csv('666.csv')

In [46]:
x_data = data.loc[:, ["source", "destination", "distance", "icon", "weekday", "hour"]]
y_data = data.loc[:, "parameter_round"]

In [47]:
le1 = preprocessing.LabelEncoder()
le2 = preprocessing.LabelEncoder()
le3 = preprocessing.LabelEncoder()
le4 = preprocessing.LabelEncoder()

In [48]:
x_data["source"] = le1.fit_transform(x_data['source'])
x_data["destination"] = le2.fit_transform(x_data['destination'])
x_data["icon"] = le3.fit_transform(x_data['icon'])
x_data["weekday"] = le4.fit_transform(x_data['weekday'])

In [49]:
p_data["source"] = le1.transform(p_data['source'])
p_data["destination"] = le2.transform(p_data['destination'])
p_data["icon"] = le3.transform(p_data['icon'])
p_data["weekday"] = le4.transform(p_data['weekday'])
p_data

       source  destination  avg_distance  weekday  hour  icon
0           2            0      1.572267        1     0     3
1           2            0      1.572267        1     0     4
2           2            0      1.572267        1     0     0
3           2            0      1.572267        1     0     6
4           2            0      1.572267        1     0     2
...       ...          ...           ...      ...   ...   ...
60475       2           10      2.903859        3    23     3
60476       2           10      2.903859        3    23     4
60477       2           10      2.903859        3    23     0
60478       2           10      2.903859        3    23     6
60479       2           10      2.903859        3    23     2

[60480 rows x 6 columns]

In [50]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, train_size = 0.70, test_size = 0.30, shuffle = True, random_state = 100)

In [69]:
forest = RandomForestClassifier(n_estimators = 500, max_depth = None)
forest.fit(x_data, y_data)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [67]:
y_predicted = forest.predict(x_test)
print(accuracy_score(y_test, y_predicted))

0.5933968326950306

In [53]:
importances = forest.feature_importances_
print(importances)

[0.03651828 0.03440383 0.48266842 0.05898026 0.10187653 0.28555268]

In [54]:
predict = forest.predict(p_data)

In [55]:
predict_print = pd.DataFrame(predict)

In [56]:
predict_print.to_csv("6666.csv")

In [70]:
x_data

        source  destination  distance  icon  weekday  hour
0            6            4      1.15     4        0    19
1            6            4      1.17     2        1    19
2            6            4      1.17     2        1    18
3            6            4      1.11     1        6     0
4            6            4      1.14     2        3    20
...        ...          ...       ...   ...      ...   ...
637971       9           11      2.82     2        4    23
637972       9           11      2.82     3        1     8
637973       9           11      1.63     2        1    20
637974       9           11      1.71     2        3    18
637975       9           11      1.71     2        1    15

[637976 rows x 6 columns]